.podcast {
  &Main {
    min-height: 420px;
    padding: 50px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('@img/admin/podcast/bg.png');

    @media(max-width: 991px) {
      background-position: right -350px center;
    }
    @media(max-width: 767px){
      // background-size: 300px;
      background-position: right center;
      background-image: url('@img/admin/podcast/bg-sm.png');
      padding: 30px;
    }
    @media(max-width: 575px){
      margin-left: -20px;
      margin-right: -20px;
    }
    &--single {
      @media(max-width: 991px){
        min-height: unset;
        padding-bottom: 0;
      }
    }

    .podcastCard::before {
      display: none;
    }
    .h2 {
      max-width: 500px;
      @media(max-width: 991px){
        font-size: 16px;
        line-height: 24px;
      }
      @media(max-width: 767px){
        max-width: calc(100% - 100px);
      }
      @media(max-width: 575px){
        max-width: calc(100% - 50px);
      }
    }
  }
}

.podcastCardImg {
  img {
    border-radius: 50%;
    width: 150px;
    min-width: 150px;
    height: 150px;
    @media(max-width: 767px){
      width: 120px;
      height: 120px;
      min-width: 120px;
    }
  }
}

.podcastCardBtnPlay {
  min-width: 56px;
  width: 56px;
  height: 56px;
  background-color: var(--blue-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .1s linear;
}

.podcastCardContent {
  margin-top: 35px;
}

.podcastList {
  .col-lg-4 {
    min-height: 420px;
    @media(max-width: 991px){
      min-height: 326px;
    }
    @media(max-width: 575px){
      min-height: unset;
    }
  }

  .podcastCard {
    min-height: 420px;
    @media(max-width: 991px){
      min-height: 326px;
    }
    @media(max-width: 575px){
      min-height: unset;
    }
  }
  .podcastCardPlay {
    @media(max-width: 767px){
      margin-left: -40px;
    }
  }
  .podcastCardPerson{
    @media(max-width: 767px){
      width: 120px;
      height: 120px;
      min-width: 120px;
    }
  }
  .banerImg {
    min-height: 420px;
    height: 420px;
    @media(max-width: 991px){
      min-height: 326px;
      height: 326px;
    }
    @media(max-width: 575px){
      min-height: unset;
      height: auto;
    }
  }

  .articleCardTitle {
    height: 84px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    /* Включаем флексбоксы */
    -webkit-box-orient: vertical;
    /* Вертикальная ориентация */
    @media(max-width: 991px){
      height: 63px;
    }
    @media(max-width: 575px){
     height: unset;
     max-height: 63px; 
    }
  }
}

.podcastAction {
  min-height: 72px;
  @media(max-width: 991px){
    margin-left: -50px;
    margin-right: -50px;
  }
  @media(max-width: 767px){
    margin-right: -29px;
    margin-left: -29px;
  }
}
.podcastContent {
  .text--lg {
    @media(max-width: 767px){
      font-size: 13px;
      line-height: 24px;
    }
  }
  .h2 {
    @media(max-width: 767px){
      font-size: 16px;
      line-height: 24px;
    }
  }
}