.socials {
  &List {
    display: flex;
    column-gap: 10px;

    li {
      a {
        background-color: transparent;
       
        img {
          transition: opacity .2s linear;
          &:hover {
            opacity: .9;
          }       
        }
      }
    }
  }
}